.Game{
    background-image: url("../../assets/images/background.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;

}
.Help{
    display: flex;
    flex-direction: row;
}
.Fitfty{

    padding-right: 20px;
    height: 40px;
    width: 58px;
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;

}
.Hall{
    padding-right: 20px;
    height: 40px;
    width: 58px;
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;

}
.Call{
    padding-right: 20px;
    height: 40px;
    width: 58px;
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}
.Bank{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: aqua;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Quiz{
    padding: 10px 200px 10px 200px;
    background-color: aqua;
    margin-bottom: 50px;
    border-radius: 50px;
}
.answer1{
    padding: 5px 80px 5px 80px;
    background-color: rgb(29, 33, 33);
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
   color: aliceblue;
   cursor: pointer;
}
.answer2{
    padding: 5px 80px 5px 80px;
    background-color: rgb(29, 33, 33);
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
   color: aliceblue;
   cursor: pointer;
}
.answer3{
    padding: 5px 80px 5px 80px;
    background-color: rgb(29, 33, 33);
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
   color: aliceblue;
   cursor: pointer;
}
.answer4{
    padding: 5px 80px 5px 80px;
    background-color: rgb(29, 33, 33);
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
   color: aliceblue;
   cursor: pointer;
}
.answers{
    display: flex;
    flex-direction: row;
}
.answers2{
    display: flex;
    flex-direction: row;
}
.Main{
    display: flex;
    justify-content: space-around;
}
.CallDisplay{
    margin-left: 100px;
    width: 170px;
    height: 160px;
    background-color: antiquewhite;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CallDisplay img{
    width: 140px;
    height: 130px;
}
.CallHelp{
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CallHelp h1{

    color: aliceblue;

}
.HallBlock{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.HallAns{
    display: flex;
    flex-direction: column;
}
.HallAns h1{
font-size: 20px;
padding-left: 20px;
}