.Game{
    background-image: url("../../assets/images/download.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
   align-items: center;
}
.Help{
    display: flex;
    flex-direction: row;
}
.Fitfty{
   cursor: pointer;
}

.Hall{
cursor: pointer;
margin-left: 10px;
}
.Call{
    cursor: pointer;
    margin-left: 10px;
}

.Bank{
    width: 143px;
    height: 78px;
    background-image: url('../../assets/images/bank.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: aliceblue;
}
.Bank h1{
font-size: 29px;
margin-left: 20px;
}
.Questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Quiz{
   width: 780px;
    height: 130px;

    background-color: rgb(11, 19, 46);
    border: 4px solid aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Quiz h2{
color: aliceblue;
}
.answer1{
    background-color: rgb(11, 19, 46);
    padding: 5px 25px 5px 25px;
    border: 3px solid aqua;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.answers2{
    display: flex;
    flex-direction: row;
}
.Main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.CallDisplay{
    margin-left: 100px;
    width: 170px;
    height: 160px;
    background-color: antiquewhite;
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CallDisplay img{
    width: 140px;
    height: 130px;
}
.CallHelp{
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CallHelp h1{

    color: aliceblue;

}
.HallBlock{
  
  background-image: url('../../assets/images/HallRes.png');
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color: aliceblue;
   height: 285px;
   width: 215px;
}
.HallAns{
    display: flex;
    flex-direction: column;
}
.HallAns h1{
font-size: 20px;
padding-left: 20px;
}
.HallItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.Nkar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.Timer{

    border: 4px solid rgb(180, 76, 16);
    border-radius: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   margin-left: 120px;
}